@font-face {
    font-family: $PlayfairBold;
    src: url(../Fonts/sen/PlayfairDisplay-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: $InterMedium;
    src: url(../Fonts/inter/Inter-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: $InterRegular;
    src: url(../Fonts/inter/Inter-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}